{% extends 'base.html' %}


{% block content %}
    <h2 class="text-center">Меню</h2>
    <div class="container">
        <div class="row">
            {% for item in categories %}
                <div class="col-4">
                    <h4 class="text-center">{{ item.title }}</h4>
                    {% for dish in item.dishes %}
                        <div class="col-12">
                            <h6>{{ dish.title }}</h6>
                            <p>{{ dish.description }}</p>
                            <p>{{ dish.price }}&#x20B4;</p>
                            <img src="{{ dish.photo.url }}" class="img-fluid" alt="Responsive image">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}